asn1crypto==0.24.0
AST==0.0.2
asyncio==3.4.3
bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
crypto==1.4.1
cryptography==2.1.4
docutils==0.16
enum34==1.1.6
funcsigs==1.0.2
gevent==1.4.0
greenlet==0.4.15
hashlib==20081119
http==0.2
idna==2.9
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
logging==0.4.9.6
mock==3.0.5
Naked==0.1.31
nose==1.3.7
omnitrade-client==0.1
omnitradeClient==0.2
pkginfo==1.5.0.1
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
PyTestStub==0.0.4
python-apt==1.6.5+ubuntu0.2
pyxdg==0.25
PyYAML==5.3
readme-renderer==24.0
requests==2.23.0
requests-mock==1.7.0
requests-toolbelt==0.9.1
SecretStorage==2.3.1
shellescape==3.8.1
six==1.14.0
tqdm==4.43.0
twine==1.15.0
urllib3==1.25.8
webencodings==0.5.1
websocket==0.2.1
websocket-client==0.57.0
